<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>258693538306-eqreb6rr54haekdt3h9lrd7g1cnivpeb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.258693538306-eqreb6rr54haekdt3h9lrd7g1cnivpeb</string>
	<key>API_KEY</key>
	<string>AIzaSyDiltDK45UJtLTu80YrVa2XAyXPphDtzAY</string>
	<key>GCM_SENDER_ID</key>
	<string>258693538306</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.ischool.doggieranker</string>
	<key>PROJECT_ID</key>
	<string>huskyluverzzz</string>
	<key>STORAGE_BUCKET</key>
	<string>huskyluverzzz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:258693538306:ios:5f9b169700d53499</string>
	<key>DATABASE_URL</key>
	<string>https://huskyluverzzz.firebaseio.com</string>
</dict>
</plist>